body {
    margin: 0;
    background-color: #f6f7ff;
}

.d-flex {
    display: flex;
}

.container {
    width: 832px;
    margin: 0 auto;
}

.header {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
}

.header__logo-img {
    width: 30px;
    height: 30px;
}

.header__logo-text {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 18px;
    font-size: 24px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__lang {
    display: flex;
    background: #0035BD;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
}

.header__lang-icon {
    width: 14px;
}

.header__lang-text {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 0px 8px;
}

.header__notification {
    background: #0035BD;
    width: 24px;
    height: 24px;
    margin-right: 56px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__notification-are-awarded:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ff0000;
    border-radius: 50%;
    top: 0px;
    right: 0;
}

.header__notification-icon {
    width: 12px;
    margin-top: 4px;
}

.header__account {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__account-name {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 8px;
}

.header__account-img {
    width: 30px;
    height: 30px;
    border: 2px solid #0035bd;
    border-radius: 50%;
    box-sizing: border-box;
}

.main {
    display: flex;
    margin-top: 28px;
    flex-wrap: wrap;
}

.main__left {
    width: 208px;
}

.menu {
    background: #fff;
    margin-right: 18px;
    border-radius: 12px;
    padding: 8px 8px;
}

.menu__link {
    font-family: 'Roboto';
    font-size: 12px;
    padding: 12px 0px 12px 64px;
    border-radius: 12px;
    margin-bottom: 3px;
    display: block;
    text-decoration: none;
    color: #ACACAC;
}

.menu__link-icon {
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 10px 10px;
}

.menu__link-home {
    background-image: url('../icons/home_gray.svg');
}

.menu__link-album {
    background-image: url('../icons/album_gray.svg');
    background-size: 15px;
    background-position: 10px 12px;
}

.menu__link-file-document {
    background-image: url('../icons/file-document_gray.svg');
    background-position: 10px 12px;
}

.menu__link-bolt {
    background-image: url('../icons/bolt_gray.svg');
    background-size: 8px;
    background-position: 14px 12px;
}

.menu__link-coffee {
    background-image: url('../icons/coffee_gray.svg');
    background-size: 16px;
    background-position: 10px 12px;
}

.menu__link-data {
    background-image: url('../icons/data_red.svg');
    background-size: 16px;
    background-position: 10px 14px;
}

.menu__link--active.menu__link-home, .menu__link-home.menu__link:hover {
    background-image: url('../icons/home_blue.svg');
}

.menu__link--active.menu__link-album, .menu__link-album.menu__link:hover {
    background-image: url('../icons/album_blue.svg');
    background-size: 15px;
    background-position: 10px 12px;
}

.menu__link--active.menu__link-file-document, .menu__link-file-document.menu__link:hover {
    background-image: url('../icons/file-document_blue.svg');
    background-position: 10px 12px;
}

.menu__link--active.menu__link-bolt, .menu__link-bolt.menu__link:hover {
    background-image: url('../icons/bolt_blue.svg');
    background-size: 8px;
    background-position: 14px 12px;
}

.menu__link--active.menu__link-coffee, .menu__link-coffee.menu__link:hover {
    background-image: url('../icons/coffee_blue.svg');
    background-size: 16px;
    background-position: 10px 12px;
}

.menu__link--active.menu__link-data, .menu__link-data.menu__link:hover {
    background-image: url('../icons/data_blue.svg');
    background-size: 16px;
    background-position: 10px 14px;
}

.menu__link--red {
    background-color: #FFF5F5;
    color: #FF0000;
}

.menu__link:hover {
    background-color: #F6F7FF;
    color: #0035BD;
}

.menu__link--active {
    background-color: #F6F7FF;
    color: #0035BD;
}

.menu__link:last-child {
    margin-bottom: 0;
}

.servers {
    padding: 0px 6px;
}

.servers__list {
    display: flex;
}

.servers__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.server {
    margin-right: 22px;
    border-radius: 12px;
    margin-top: 14px;
    width: 190px;
    height: 170px;
    text-align: center;
    position: relative;
}

.server:last-child {
    margin-right: 0;
}

.server__name {
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

.server__status {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-mask:radial-gradient(circle 36px,transparent 100%,#fff 100%);
    mask:radial-gradient(circle 36px,transparent 100%,#fff 100%);
}

.server__status--online {
    background-color: #28a745;
}

.server__status--offline {
    background-color: #dc3545;
}

.server__status-value {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    margin: auto;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 16px;
    color: #fff;
}   

.server__desc {
    font-family: 'Roboto';
    font-size: 8px;
    color: #fff;
    margin-top: 14px;
}

.start {
    padding-left: 18px;
    width: 192px;
}

.start__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.start__buttons {
    background-color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 4px;
}

.start__button {
    border-radius: 12px;
    padding: 15px 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF5F5;
    text-decoration: none;
}

.start__button:hover {
    background-color: #F6F7FF;
}

.start__button:last-child {
    margin-bottom: 0;
}

.start__button-caption {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 700;
}

.start__button-desc {
    font-family: 'Roboto';
    font-size: 10px;
    margin-top: 2px;
    color: #C2C2C2;
}

.start__button-download-icon {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 15%);
}

.start__button-download-icon:after {
    content: "";
    display: block;
    background-image: url('../icons/software-download.svg');
    background-repeat: no-repeat;
    background-position: 9px 8px;
    background-size: 12px;
    width: 30px;
    height: 30px;
}

.advertising {
    background-color: #0035bd;
    height: 270px;
    margin-top: 30px;
    margin-right: 18px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.advertising:before {
    content: "";
    display: block;
    background: url('../image/girl02.png');
    width: 100%;
    height: 270px;
    margin-top: 30px;
    padding-right: 18px;
    border-radius: 12px;
    background-size: 125px;
    background-repeat: no-repeat;
    background-position: 65px -28px;
    position: absolute;
    z-index: 1;
}

.advertising:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url('../image/rectangle.png');
    background-size: 180px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}

.advertising__content {
    position: absolute;
    z-index: 1;
    height: 100%;
}

.advertising__text {
    font-family: 'Gilroy';
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.advertising__numbers {
    font-family: 'Gilroy';
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 20px;
}

.advertising__button {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.advertising__link {
    background: #c1934d;
    font-family: 'Roboto';
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    left: 50px;
    padding: 4px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.advertising__link:hover {
    background: #E9B05B;
}

.advertising__link:active {
    background: #AB7524;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider {
    padding: 0px 6px;
    width: 404px;
    overflow: hidden;
}

.slider__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.slider__items {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 10000px;
    transition: all, 1s;
}

.slider__item {
    width: 404px;
    height: 168px;
    border-radius: 12px;
    padding-top: 24px;
    padding-left: 28px;
    box-sizing: border-box;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 225px;
    background-position: 100%;
    display: inline-block;
    margin-left: 6px;
}

.slider__item:first-child {
    margin-left: 0;
}

.slider__header {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
    color: #E5C28F;
}

.slider__desc {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}

.slider__link {
    font-family: 'Roboto';
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    left: 50px;
    padding: 4px 16px;
    border-radius: 10px;
    margin-top: 38px;
    background: #3F3F3F;
    display: inline-block;
    cursor: pointer;
}

.slider__link:hover {
    background: #666666;
}

.slider__link:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #3F3F3F;
}

.vote {
    padding-left: 18px;
}

.vote__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.vote__links {
    margin-top: 15px;
}

.vote__link {
    width: 190px;
    border-radius: 12px;
    display: flex;
    color: #fff;
    padding-bottom: 2px;
    background-size: cover;
    text-decoration: none;
    margin-bottom: 10px;
}

.vote__link:last-child {
    margin-bottom: 0;;
}

.vote__link-icon {
    background: url('../icons/trophy.svg');
    background-repeat: no-repeat;
    background-size: 26px;
    width: 40px;
    height: 35px;
    margin-top: 12px;
    margin-left: 14px;
    display: inline-block;
}

.vote__link-text-caption {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 18px;
}

.vote__link-text-desc {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 10px;
    margin-left: 18px;
    margin-top: 6px;
}

.statistics {
    padding-left: 6px;
    margin-bottom: 30px;
}

.statistics__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.statistics__block {
    font-family: 'Roboto';
    padding: 22px 180px 0px 28px;
    box-sizing: border-box;
    background: #fff;
    width: 618px;
    height: 225px;
    margin-top: 15px;
    border-radius: 12px;
    background-image: url('../image/girl03.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 202px;
}

.statistics__header {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.statistics__servers {
    display: flex;
}

.statistics__server {
    margin-right: 15px;
    cursor: pointer;
    color: #C2C2C2;
}

.statistics__server--active {
    color: #0035BD;
    border-bottom: 2px solid rgba(0, 53, 189, 0.2);
    margin-bottom: 4px;
}

.statistics__server:last-child {
    margin-right: 0;
}

.statistics__filters {
    display: flex;
    background: #F8F8F8;
    padding: 5px 15px;
    margin-top: -5px;
    border-radius: 15px;
    font-size: 10px;
}

.statistics__filter {
    margin-left: 16px;
    cursor: pointer;
    color: #C2C2C2;
}

.statistics__filter--active {
    color: #0035BD;
    border-bottom: 2px solid rgba(0, 53, 189, 0.2);
}

.statistics__filter:first-child {
    margin-left: 0;
}

.statistics__table {
    margin-top: 10px;
}

.statistics__row {
    background: #F6F7FF;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 3px 15px;
    border-radius: 12px;
    color: #3F3F3F;
    margin-bottom: 4px;
}

.statistics__link {
    font-size: 10px;
    text-decoration: none;
    color: #0035BD;
}

.chart {
    padding-left: 6px;
}

.chart__caption {
    font-family: 'Gilroy';
    font-weight: 800;
}

.chart__block {
    background-color: #fff;
    margin-top: 15px;
    width: 335px;
    height: 225px;
    border-radius: 12px;
    padding: 20px 30px;
    box-sizing: border-box;
}

.chart__header {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Gilroy';
    font-weight: 800;
}

.chart__servers {
    display: flex;
}

.chart__server {
    margin-right: 15px;
    cursor: pointer;
    color: #C2C2C2;
}

.chart__server--active {
    color: #0035BD;
    border-bottom: 2px solid rgba(0, 53, 189, 0.2);
    margin-bottom: 4px;
}

.chart__server:last-child {
    margin-right: 0;
}

.donate {
    margin-left: 20px;
}

.donate__caption {
    font-family: 'Gilroy';
    font-weight: 800;
    color: #C1934D;
}

.donate__block {
    border-radius: 12px;
    background-color: #fff;
    margin-top: 15px;
    width: 262px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 18px;
    position: relative;
}

.donate__block:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../image/money.png');
    background-size: 125px;
    position: absolute;
    top: 65px;
    left: 138px;
}

.donate__inputs {
    width: 224px;
    background: #C1934D;
    padding: 18px 20px;
}

.donate__login {
    font-family: 'Roboto';
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 8px 14px;
    width: 196px;   
}

.donate__sum {
    font-family: 'Roboto';
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 8px 14px;
    width: 96px;
    margin-top: 15px;
}

.donate__login::placeholder, .donate__sum::placeholder {
    color: #C2C2C2;
}

.donate__bottom {
    padding: 8px 20px;
}

.donate__button {
    background: #c1934d;
    font-family: 'Roboto';
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 14px;
}

.donate__button:hover {
    background: #E9B05B;
}

.donate__button:active {
    background: #AB7524;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.donate__desc {
    font-family: 'Roboto';
    font-size: 8px;
    margin-top: 20px;
    width: 50%;
    color: #C2C2C2;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer__logo-img {
    width: 24px;
}

.footer__logo-text {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 6px;
    font-size: 20px;
    color: #C2C2C2;
}

.footer__menu {
    margin-left: 85px;
}

.footer__menu-link {
    font-family: 'Roboto';
    text-decoration: none;
    color: #c2c2c2;
    font-size: 12px;
    margin-right: 20px;
}

.footer__menu-link:hover {
    border-bottom: 1px dashed;
}

.footer__menu-link:last-child {
    margin-right: 0;
}

.footer__social-network-items {
    margin-left: auto;
}

.footer__social-network-item {
    text-decoration: none;
    margin-right: 15px;
}

.footer__social-network-item:last-child {
    margin-right: 0;
}

.footer__social-network-img {
    width: 20px;
    height: 20px;
}